<div class="jumbo">
  <div class="right "></div>
  <h2>About Whiskers and whiskeys </h2>
  <p>
   This webpage has been created for the sole reason to provide ideas of laid back 
   recreational events that can be created without any additional help from other human beings,
   but might be more enjoyable with some pets.
   <br/>
   We wish to remind you that drinking with your cats is not advised and felines should not be given alcohol at any time! 
  </p>
  
    {{#link-to 'contact' class="button"}}
    Get Started!
  {{/link-to}}
</div>